<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Warning</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: #333;
        }

        p {
            color: #555;
        }

        .warning {
            color: #ff6347;
            font-weight: bold;
        }

        .note {
            color: #777;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Cảnh báo nguy cơ lũ lụt</h2>
        <p>Nhiệt độ: {{ data.temp }} °C</p>
        <p>Độ ẩm: {{ data.humi }} %</p>
        <p>Mực nước hiện tại: {{ data.water_level }} cm</p>
        <p>Mực nước dự đoán trong 24h tới: {{data.prediction_water_level_1}} cm</p>
        <p>Mực nước dự đoán trong 48h tới: {{data.prediction_water_level_2}} cm</p>
        <p class="warning">Ngưỡng cảnh báo: {{data.caution_level}} cm</p>
        <p class="note">Chú ý: Có nguy cơ lũ lụt, hãy đề phòng và chú ý an toàn!</p>
        <p class="note">Xin đừng trả lời email này, đây là email tự động được gửi từ hệ thống.</p>
    </div>
</body>
</html>
